.container{
    display: flex;
    flex-wrap: wrap;
    border: white;
    width: 400px;
    


}



.box {
    height: 50px;
    width: 50px;
    border-style: groove;
    background-color: white;
    float: left;
}



    
